<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Colourblind Camera.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAC2B3882CFDA92100FE9E44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC2B3982CFDA92400FE9E44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC2B3A22CFDA92400FE9E44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
